.progress-bar-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.progress-bar-outline {
  background-color: gray;
  width: 400px;
  height: 20px;
  border-radius: 20px;
  overflow: hidden;
}

.star {
  font-size: 70px;
  margin: 10px;
}

.star-button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.on {
  color: black;
}

.off {
  color: #ccc;
}